//公共变量

//字体
$font-Yahei: "Microsoft YaHei";

//字号大小尺寸
$size-30:30px;
$size-24:24px;
$size-18:18px;
$size-16:16px;
$size-14:14px;
$size-12:12px;

//颜色
$color-08a7ec : #08a7ec !default;
$color-white : white !default;
$color-e8e8e8 : #e8e8e8 !default;
$color-e0e0e0 : #e0e0e0 !default;
$color-0e0e0e : #0e0e0e !default;
$color-e6e8ed : #e6e8ed !default;
$color-0990ca : #0990ca !default;
$color-e8e9e8 : #e8e9e8 !default;
$color-333 : #333 !default;
$color-cccccc:#cccccc !default;
$color-ff9402:#ff9402 !default;
$color-e78602:#e78602 !default;
$color-f28c00:#f28c00 !default;
$color-1fb5ac:#1fb5ac !default;
$color-14978f:#14978f !default;
$color-ffded2:#ffded2 !default;
$color-fb6362:#fb6362 !default;
$color-effffe:#effffe !default;
$color-d0f5f3:#d0f5f3 !default;
$color-fff6f3:#fff6f3 !default;
$color-1fb6ac:#1fb6ac !default;
//鼠标形状
$pointer:pointer !default;

//圆角弧度
$radius3:3px !default;

//重要强调
$im:!important;

//整体
body{
    font-family: $font-Yahei;
}

//字号
.size30-knet{
    font-size:$size-30;
}
.size24-knet{
    font-size:$size-24;
}
.size18-knet{
    font-size:$size-18;
}
.size16-knet{
    font-size:$size-16;
}
.size14-knet{
    font-size:$size-14;
}
.size12-knet{
    font-size:$size-12;
}

//背景缺省值
.bg-def{
    color:$color-white $im;
    border:1px solid $color-08a7ec $im;
    background-color:$color-08a7ec $im;
}
.bg-fb6362{
    color:$color-white $im;
    border:1px solid $color-fb6362 $im;
    background-color:$color-fb6362 $im;
}
.bg-1fb5ac{
    color:$color-white $im;
    border:1px solid $color-1fb5ac $im;
    background-color:$color-1fb5ac $im;
}
.bg-ffded2{
    color:$color-white $im;
    border:1px solid $color-ffded2 $im;
    background-color:$color-ffded2 $im;
}

//按钮
$button-border-color:#049fe1;
$button-hover-color:#098fc9;
.btn-knet {
    border-radius: $radius3;
    &:focus {
        outline: none;
        color:$color-white;
    }
}
.btn-primary-knet {
    color:$color-white;
    background-color: $color-08a7ec;
    border-color: $button-border-color;
    &:hover {
        background-color: $button-hover-color;
        color:$color-white;
    }
}
.btn-disabled-knet{
    color:$color-cccccc;
    background-color: $color-e8e8e8;
    border-color: $color-e0e0e0;
    &:hover {
        color:$color-cccccc;
        background-color: $color-e8e8e8;
        border-color: $color-e0e0e0; 
    }
}
.btn-default-knet{
    color:$color-333;
    background-color: $color-white;
    border-color: $color-e0e0e0;
    &:hover {
        color:$color-333;
        background-color: $color-e8e8e8;
        border-color: $color-e0e0e0; 
    }
    &:focus {
        color:$color-333;
        background-color: $color-white;
        border-color: $color-e0e0e0;
    }
    
}
.btn-warning-knet{
    color:$color-white;
    background-color: $color-ff9402;
    border-color: $color-e78602;
    &:hover {
        color:$color-white;
        background-color: $color-f28c00;
        border-color: $color-e78602; 
    } 
}
.btn-label-knet{
    color:$color-333;
    background-color: $color-white;
    border-color: $color-e0e0e0;
    &:hover {
        color:$color-white;
        background-color: $color-1fb5ac;
        border-color: $color-14978f; 
    } 
    &:focus {
        color:$color-333;
        background-color: $color-white;
        border-color: $color-e0e0e0;
    }
}
.btn-labelOpe-knet{
    color:$color-1fb5ac;
    background-color: $color-white;
    border-color: $color-e0e0e0;
    &:hover {
        color:$color-white;
        background-color: $color-1fb5ac;
        border-color: $color-14978f; 
    } 
    &:focus {
        color:$color-333;
        background-color: $color-white;
        border-color: $color-e0e0e0;
    }
}
.btn-opt-knet{
    color:$color-333;
    background-color: $color-white;
    border-color: $color-14978f;
    &:focus{
        color:$color-333;
        background-color: $color-white;
        border-color: $color-14978f; 
    }
}    
//主按钮
.btn-main{
    width:320px;
    height:40px;
    line-height:26px;
    font-size:$size-18;
}
//一般按钮
.btn-ordinary{
    width:90px;
    height:36px;
    line-height:22px;
    font-size:$size-16;
}
.btn-small{
    width:60px;
    height:28px;
    line-height:14px;
    font-size:12px;
}
.btn-label{
    height:28px;
    line-height:14px;
    font-size:12px; 
}
.btn-label-opt{
    height: 22px;
    line-height: 20px;
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 0;
    > span{
        display: inline-block;
        width: 14px;
        height: 14px;
        color: #fff;
        background-color: #1fb5ac;
        line-height: 14px;
        margin-right: -9px;
        margin-left: 5px;
        cursor:auto;
        &:hover{
           color: #fff;
           background-color: #14978f; 
        }
    }
}
//图标
.ico-search {
    color:$color-08a7ec;
}
//表格样式
.table-knet {
    border:1px solid $color-e0e0e0;
    border-radius: $radius3;
    > thead {
        > tr {
            background-color:$color-e8e8e8;
        }
    }
    > tbody {
        > tr:hover {
            background-color:$color-e6e8ed;
        }
    }
    
}
.table-knet-hover {
    & > tbody {
        > tr:hover {
            background-color:$color-e6e8ed;
        }
    }
}

//标签label
.label-knet {
    color:$color-0990ca;
    cursor:pointer;
    font-size:$size-12;
    display:inline-block;
    padding:0.2em 0.6em;
    border-radius:$radius3;
    &:hover {
        background-color:$color-0990ca;
        color:$color-white;
    }
}
.label-more {
    display:inline-block;
    padding:0.3em 0.8em;
    border:1px solid transparent;
    border-radius:$radius3;
    font-size:$size-12;
    position:relative;
    cursor:pointer;
    &:hover {
        border:1px solid $color-e0e0e0;
        background-color: $color-white;
        .label-more-content {
            display:block;
        }
    }
}
.label-more-content {
    width:103%;
    display:none;
    padding-top:2px;
    position:absolute;
    left:-1px;
    background:$color-white;
    border-left:1px solid $color-e0e0e0;
    border-right:1px solid $color-e0e0e0;
}
.label-more-detail {
    display:block;
    padding:3px 1px;
    text-align:center;
    cursor:pointer;
    border-bottom:1px solid $color-e0e0e0;
    &:hover {
        color:$color-0990ca;
    }
    &:first-child {
        border-top:1px solid $color-e0e0e0;
    }
    &:last-child {
        border-bottom-left-radius:$radius3;
        border-bottom-right-radius:$radius3;
    }
}
//改变bootstrap中的固有样式
.table {
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                vertical-align: middle;
            }
        }
    }
}

//分页，加此类的目的只是为了改变bootstrap的固有样式
$pager-current-border:#049fe1 !default;
$pager-disable-color:#ccc !default;
.pager-knet {
    border-radius:$radius3;
    > li {
        > a,
        > span {
            color:$color-333;
        }
        &:first-child {
            > a,
            > span {
                border-top-left-radius: $radius3;
                border-bottom-left-radius: $radius3;
            }
        }
    }
}
.pager-knet-current {
    background-color:$color-08a7ec !important;
    border:1px solid $pager-current-border !important;
    color:$color-white !important;
}
.pager-knet-disable {
    color:$pager-disable-color !important;
}

//表单
$input-error-color:#fb6362;
input[placeholder] {font-size:$size-12;}
.form-control-knet {
    height:32px;
    border-color:$color-e0e0e0;
    border-radius:$radius3;
    &:focus {
        border:1px solid $color-08a7ec;
        box-shadow: none;
    }
}
.form-control-knet-error {
    border-color:$color-e0e0e0;
    border-radius:$radius3;
    border:1px solid $input-error-color;
    &:focus {
        border:1px solid $input-error-color;
        box-shadow: none;
    }
}
.form-group-knet{
    margin-bottom:20px;
}
//搜索
.search-knet{
    border:1px solid $color-e0e0e0;
    cursor:pointer;
}
//图片上传
.imageUp-knet{
    padding: 0px 20px;
    height: 32px;
    line-height: 30px;
    position: relative;
    cursor: $pointer;
    color: $color-333;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: $radius3;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    &:hover{
        color: #444;
        background: #eee;
        border-color: #ccc;
        text-decoration: none;
    }
    > input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        cursor: $pointer;
    }
}
//单选
.radio-knet{
    width: 15px;
    height: 15px;
    line-height:12px;
    border-radius: 50%;
    text-align:center;
    border: 1px solid $color-e0e0e0;
    display:block;
    > input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        cursor: $pointer;
    }
    > span {
        display:inline-block;
        width:9px;
        height:9px;
        border-radius:50%;
        background-color:$color-08a7ec;
        opacity: 1;
    } 
}
//单选默认选中
.radioChecked-knet{
    width: 15px;
    height: 15px;
    line-height:12px;
    border-radius: 50%;
    text-align:center;
    border: 1px solid $color-e0e0e0;
    display: block;
    > input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        cursor: $pointer;
    }
    > span {
        display:inline-block;
        width:9px;
        height:9px;
        border-radius:50%;
        background-color:$color-e8e9e8;
        opacity:1;
    } 
}
//多选
.checkbox-knet{
    width: 15px;
    height: 15px;
    line-height:12px;
    text-align:center;
    border: 1px solid $color-e0e0e0;
    display: block;
    > input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        cursor: $pointer;
    }
    > span {
        display: inline-block;
        opacity: 0;
        font-size: $size-12;
        color: $color-08a7ec;
    } 
}
.checkboxAdd-knet{
    >span{
       opacity:1; 
    }
}
.cboxChecked-knet{
    width: 15px;
    height: 15px;
    line-height:$size-12;
    text-align:center;
    border: 1px solid $color-e0e0e0;
    display: block;
    > input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        cursor: $pointer;
    }
    > span {
        display: inline-block;
        opacity: 1;
        font-size: $size-12;
        color: $color-e8e9e8;
    }
}
//下拉框
.dropdown-toggle-knet{
    min-width: 160px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    color:$color-333;
    border: 1px solid $color-333;
    border: 1px solid rgba(51, 51, 51, .15);
    >.caret {
        float: right;
        margin-top: 8px;
    }
    &:focus{
        color:$color-333;
        background-color:$color-white;
        border:1px solid rgba(51, 51, 51, .15);
    }
    &:hover{
        color:$color-333;
        background-color:$color-white;
        border:1px solid rgba(51, 51, 51, .15);
    }
}
.d-t{
    border-bottom:0px !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.dropdown-menu-knet{
    display: block;
    margin: 0;
    background-color: $color-white;
    color:$color-333;
    border: 1px solid $color-333;
    border: 1px solid rgba(51, 51, 51, .15);
    > li > a:hover{
        color: $color-08a7ec;
        text-decoration: none;
        background-color: $color-white;
    }
}
.d-m{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
//导航
.nav-knet-underline {
    display:inline-block;
    background-color:$color-white;
    overflow: hidden;
    padding-left:0;
    > li {
        list-style: none;
        float:left;
        border-bottom:2px solid $color-e0e0e0;
        &:hover {
            border-bottom-color:$color-08a7ec;
            > a {
                color:$color-08a7ec;
            }
        }
        > a {
            color:$color-333;
            display: inline-block;
            padding:0.5em 1.8em;
            font-size:$size-16;
            &:hover,
            &:active,
            &:visited {
                text-decoration: none;
            }
        }
    }
}
.nav-knet-bordered {
    display: inline-block;
    background-color:$color-white;
    border:1px solid $color-e0e0e0;
    border-radius: $radius3;
    overflow: hidden;
    padding-left: 0;
    > li {
        list-style: none;
        float:left;
        border-right: 1px solid $color-e0e0e0;
        &:hover {
            background-color:$color-08a7ec;
            > a {
                color:$color-white;
            }
        }
        > a {
            display: inline-block;
            padding:0.5em 1.8em;
            font-size:$size-16;
            color:$color-333;
            &:hover,
            &:active,
            &:visited {
                text-decoration: none;
            }
        }
        &:last-child {
            border-right:none;
        }
    }
}

//弹窗
.modal-mask {
    background-color:rgba(0,0,0,.5);
}
.modal-dialog-knet {
    position: fixed;
    left:50%;
    top:50%;
    background-color:$color-white;
    border-radius: $radius3;
    overflow: hidden;
    > .modal-dialog-heading {
        font-size:$size-16;
        color:$color-333;
        padding:$size-12;
        background-color:$color-e8e8e8;
        border-top-left-radius: $radius3;
        border-top-right-radius: $radius3;
    }
    > .modal-dialog-body {
        padding:30px 50px;
    }
    > .modal-dialog-foot {
        position: absolute;
        bottom: 15px;
        right: 50px;
    }
}
//进度条
.progress-knet{
    border-radius:0;
    background-color:$color-e8e8e8;
}
.pTip{
    height:$size-12;
    line-height:$size-12;
}
.progress-knet-tip{
    height:$size-12;
    line-height:$size-12;
    text-align:right;
    background:$color-08a7ec;
    border-radius: 0;
}
.progress-knet-in{
    background:$color-08a7ec;
    text-align:right;
    border-radius:0;
}
.progressNone{
    display: inline-block;
    width:70%;
    height:100%;
}
.progressTip{
    background-color: $color-08a7ec;
    color: $color-white;
    padding: 3px 6px 3px 6px;
    margin-left: -20px;
    margin-top: -$size-16;
    position: absolute;
    &:after{
        content:"";
        position:absolute;
        left: $size-12;
        top: 25px;
        display:block;
        width:0;
        height:0;
        margin:0;
        padding:0;
        border-width:8px;
        border-color: $color-08a7ec transparent transparent transparent;
        border-style:solid;
        z-index:2;
    }
    :before{
        content:"";
        position:absolute;
        left: $size-12;
        top: 25px;
        display:block;
        width:0;
        height:0;
        margin:0;
        padding:0;
        border-width:8px;
        border-color: #ccc transparent transparent transparent;
        border-style:solid;
        z-index:1;
    }
}
//分步
.progress-knet-step{
  width: 100%;
  height: 50px;
  position: relative;
  margin: 30px 0 0 0;
}
.progress-knet-step div{
  width: 100%;
  height: 12px;
  position: absolute;
  top:50%;
  left: 0;
  margin-top:-20px;
  background: #E8E8E8;
}
.progress-knet-step div span{
  position: absolute;
  display: inline-block;
  background: #08A7EC;
  height: 12px;
  width: 100%;
  -webkit-animation:bgLoad 4s linear;
}
@-webkit-keyframes bgLoad{
  0%{
    width: 0%;
  }
  20%,30%{
    width:33.33%;
  }
  50%,60%{
    width: 66.66%;
  }
}
.progress-knet-step>span{
  position: absolute;
  top:0;
  margin-top: -10px;
  width: 40px;
  height: 40px;
  line-height:40px;
  text-align: center;
  border-radius: 50%;
  background: #E8E8E8;
  margin-left: -20px;
  color:#fff;
  font-size:23px;
}
@-webkit-keyframes circleLoad_1{
  0%,66.66%{
    background: #E8E8E8;
  }
  100%{
    background:#08A7EC;
  }
}
@-webkit-keyframes circleLoad_2{
  0%,83.34%{
    background: #E8E8E8;
  }
  100%{
    background:#08A7EC;
  }
}
@-webkit-keyframes circleLoad_3{
  0%,88.88%{
    background: #E8E8E8;
  }
  100%{
    background:#08A7EC;
  }
}
.progress-knet-step span:nth-child(2){
  left: 0%;background:#08A7EC;
}
.progress-knet-step span:nth-child(3){
  left: 33.33%;background:#08A7EC;
  -webkit-animation:circleLoad_1 1.2s ease-in;
}
.progress-knet-step span:nth-child(4){
  left: 66.66%;background:#08A7EC;
  -webkit-animation:circleLoad_2 2.4s ease-in;
}
.progress-knet-step span:nth-child(5){
  left: 100%;background:#08A7EC;
  -webkit-animation:circleLoad_3 4.4s ease-in;
}
.substep{
    width: 100%;
    height: 30px;
    position: relative;
    margin: 0;
}
.substep span{
    margin-left: -24px;
    color: #999A99;
    margin-top: -10px;
    position: absolute;
    font-weight: bold;
    min-width: 50px;
    font-size: 16px;
}
.substep span:nth-child(1){
  left: 0%;
}
.substep span:nth-child(2){
  left: 33.33%;
}
.substep span:nth-child(3){
  left: 66.66%;
}
.substep span:nth-child(4){
  left: 100%;
}
//配合bs的.close使用
.close-knet {
    color: $color-333;
    &:hover {
        color:$color-08a7ec;
        opacity: 1;
    }
}
.modal-dialog-huge {
    width:800px;
    height:470px;
    margin-left:-400px;
    margin-top:-235px;
}
.modal-dialog-lg {
    width:640px;
    height:370px;
    margin-left:-320px;
    margin-top:-185px;
}
.modal-dialog-md {
    width:480px;
    height:280px;
    margin-left:-240px;
    margin-top:-140px;
}

//提示
.ope-tip-knet{
    width:100px;
    height:80px;
    font-size:$size-12;
    line-height:80px;
    text-align:center;
    color:#999999;
    background:#ffffff;
    border:1px solid $color-ffded2;
    &:after{
        content:"";
        position:absolute;
        left:60px;
        top:-11px;
        display:block;
        width:0;
        height:0;
        margin:0;
        padding:0;
        border-width:6px;
        border-color:transparent transparent #fff transparent;
        border-style:solid;
        z-index:2;
    }
    &:before{
        content:"";
        position:absolute;
        left:60px;
        top:-$size-12;
        display:block;
        width:0;
        height:0;
        margin:0;
        padding:0;
        border-width:6px;
        border-color:transparent transparent #ccc transparent;
        border-style:solid;
        z-index:1;
    }
}

.pwdAgain{
    color:$color-08a7ec;
    > .yqy-pwdAgain{
        display: inline-block;
        text-align:center;
        width: 25px;
        height: 25px;
        font-size: 18px;
        border-radius: 50%;
        border:1px solid $color-08a7ec;
        margin-right: 5px;
    }
}
.againError{
    color:$color-fb6362;
    > .y-againError{
        display: inline-block;
        text-align:center;
        width: 25px;
        height: 25px;
        font-size: 18px;
        border-radius: 50%;
        border:1px solid $color-fb6362;
        margin-right: 5px;
        line-height: 1.2;
    }
}
.msg-hint{
    width: 100%;
    padding: 5px;
    overflow: hidden;
    color:$color-1fb5ac;
    background-color:$color-effffe;
    border:1px solid $color-d0f5f3;
    font-size:$size-12;
    line-height:1;
    >.msg-hint-title{
        float:left;
        padding: 5px;
    }
    >.msg-hint-more{
        float:right;
        border:1px solid $color-d0f5f3;
        padding:5px;
        cursor:$pointer;
    }
}
.error-hint{
    width: 100%;
    padding: 10px;
    text-align:center;
    overflow: hidden;
    color:$color-fb6362;
    background-color:$color-fff6f3;
    border:1px solid $color-ffded2;
    font-size:$size-12;
    line-height:1;
}
.tip-hint{
    position: relative;
    display: inline-block;
    &:before{    
        content: " ";
        border: 0 solid transparent;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        border-radius: 30px 40px 30px 0;
        padding: 20px;
        background: #669;
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        position: absolute;   
    }
    >span{
        display: inline-block;
        position: relative;
        margin-left: 12px;
        margin-top: 10px;
        color: $color-white;
    }  
}

//方形图标
.ico-square{
    width: 60px;
    height: 60px;
    line-height: 1;
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
    color:$color-333;
    border:1px solid $color-e0e0e0;
    background-color:$color-white;
}   
//圆形图标
.ico-circle{
    width:65px;
    height:65px;
    font-size: 40px;
    padding-top: 11px;
    line-height: 1;
    text-align: center;
    border-radius: 50%;
    color:$color-1fb6ac;
    border:1px solid $color-1fb6ac;
    background-color:$color-white;    
}
    
//定位
.relative {position:relative;}
.absolute {position:absolute;}
.fixed {position:fixed;}

/*404*/
.error404{
    width:100%;
    max-width:1200px;
    height:auto;
    margin-top:100px;
}
.error404_msg{
    width: 380px;
    margin: 0px auto;
    text-align: left;
    >h1{
       font-size:30px;
       color:#333333; 
    }
    >p{
        font-size:12px;
        color:#999999;
        padding-left: 30px;
    }
}
/*500*/
.error500{
    width:100%;
    max-width:1200px;
    height:auto;
    margin-top:100px;
}
.error500_msg{
    width: 320px;
    margin: 0px auto;
    text-align: left;
    >h1{
        font-size:30px;
        color:#333333;
    }
    >p{
        font-size:12px;
        color:#999999;
        padding-left: 30px;
    }
}








